<nav class="bg-blue-600 text-white px-4 py-6 shadow">
  <div class="container mx-auto flex items-center justify-between">
    <h1 class="text-xl font-bold">AI Finance Tracker</h1>
    <ul class="flex space-x-4">
      <li>
        <a routerLink="/" class="text-lg font-semibold" routerLinkActive="font-semibold underline"
          >Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/transactions" class="text-lg font-semibold" routerLinkActive="font-semibold underline"
          >Transactions</a
        >
      </li>
      <li>
        <a routerLink="/analytics" class="text-lg font-semibold" routerLinkActive="font-semibold underline"
          >Analytics</a
        >
      </li>
    </ul>
  </div>
</nav>
